h1 {
    color: red;

}

article {
    background-color: violet;
}

a {
    background-color: lightgray;
}
video {
    border: red solid
}
audio {
    border: blue solid;
}
body {
    background-color:  yellow;
}
h2{
    color : brown;
}