button {
    display: inline;
    width: 100px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    margin-left: 15px;
    /* position: fixed;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%); */
}

.primary {
    background-color : rgb(72, 69, 209);
    color : white;
    border: 1px transparent;
    border-radius: 5px;
}

.default {
    background-color: white;
    color:grey;
    border: 1px solid gray;
    border-radius: 5px;
}

.dashed {
    background-color: white;
    color: grey;
    border:1px dashed gray;
    border-radius: 5px;
}

.danger {
    background-color: white;
    color: red;
    border: 1px solid gray;
    border-radius: 5px;
}
