body {
    margin:0 ;
}

div:nth-of-type(1){

    width:220px;
    height:220px ;
    background-color: gray;
    margin-right: 20px;
    float: left;
}
div:nth-of-type(2){
    background-color: gray;
    width:220px;
    height:220px ;
    float: left;
    margin-right: 20px;
}
div:nth-of-type(3){

    width:220px;
    height:220px ;
    background-color: gray;
    margin-right: 20px;
    float: left;
    margin-right: 20px;
}
div:nth-of-type(4){

    width:220px;
    height:220px ;
    background-color: gray;
    margin-right: 20px;
    float: left;
    
}

div:nth-of-type(5){

    width:100px;
    height:100px ;
    background-color: gray;
    margin-right: 20px;
    margin-top:20px;
    float: left;
    clear: both;
    
}
div:nth-of-type(6){

    width:100px;
    height:100px ;
    background-color: gray;
    margin-right: 20px;
    margin-top:20px;
    float: left;
    
    
}
div:nth-of-type(7){

    width:100px;
    height:100px ;
    background-color: gray;
    margin-right: 20px;
    margin-top:20px;
    float: left;
    
    
}
div:nth-of-type(8){

    width:100px;
    height:100px ;
    background-color: gray;
    margin-right: 20px;
    margin-top:20px;
    float: left;
    
    
}
div:nth-of-type(9){

    width:100px;
    height:100px ;
    background-color: gray;
    margin-right: 20px;
    margin-top:20px;
    float: left;
    
    
}
div:nth-of-type(10){

    width:100px;
    height:100px ;
    background-color: gray;
    margin-right: 20px;
    margin-top:20px;
    float: left;
    
    
}
div:nth-of-type(11){

    width:100px;
    height:100px ;
    background-color: gray;
    margin-right: 20px;
    margin-top:20px;
    float: left;
    
    
}
div:nth-of-type(12){

    width:100px;
    height:100px ;
    background-color: gray;
    margin-right: 20px;
    margin-top:20px;
    float: left;
    
    
}
div:nth-of-type(13){

    width:700px;
    height:220px ;
    background-color: gray;
    margin-right: 20px;
    margin-top:20px;
    float: left;
    clear: both;
    
    
}
div:nth-of-type(14){

    width:220px;
    height:220px ;
    background-color: gray;
    margin-right: 20px;
    margin-top:20px;
    float: left;
    
    
}
div:nth-of-type(15){

    width:220px;
    height:220px ;
    background-color: gray;
    margin-right: 20px;
    margin-top:20px;
    float: left;
    clear: both;
    
    
}
div:nth-of-type(16){

    width:700px;
    height:220px ;
    background-color: gray;
    margin-right: 20px;
    margin-top:20px;
    float: left;
    
    
    
}
div:nth-of-type(17){

    width:460px;
    height:220px ;
    background-color: gray;
    margin-right: 20px;
    margin-top:20px;
    float: left;
    clear: both;
    
    
    
}
div:nth-of-type(18){

    width:460px;
    height:220px ;
    background-color: gray;
    margin-right: 20px;
    margin-top:20px;
    float: left;
    
    
    
    
}

