h1 {
    color: red;  
}

h3 {
    color: purple ; text-align: center;
}

img {
    border: solid red ;
}

img:hover {
    height: 20%;
    width: 20%;
}

h2 {
    color: green;
}

#para {
    text-align: center;
    color: indigo;
    text-indent: 20%;
}