.container {
    margin-top: 100px;
    padding: 0;
    border: 1px solid black;
    position: relative;
    width: 450px;
    height: 150px;
    top:80%;
    left:80%;
    transform: translate(-50%, -50%);
    padding-right: 30px;
}


#title {
    font-size: 20px;
    color: black;
    margin-top: 15px;
    
}


p {
    position: relative;
    left: 5px;
    color:lightgray;
    margin: 10px;
    
    
}
span {
    position: absolute;
    right: 15px;
    top: 17px;
    color: gray;
    
}

