$orange:#FFC12D;
$dark-orange:#F9B718;
$green:#97E411;
$dark-green:#7BC200;
$red:#FD7761;
$dark-red:#F55C43;
$blue : #47B4F6;
$dark-blue:#47B4F6;
$purple:#A39CDC;
$dark-purple:#8781BD;
$border-color:#E2E6E7;
$text-color:#A1B1BC;
$header-color:#2C3E50;
$x-color:#CFD2D3;
$rlogo-col:#D52E13;
$ologo-col:#A47503;
$blogo-col:#0787D4;
$plogo-col:#5B568E;
$glogo-col:#558502;

